<ion-header>
  <ion-navbar>
    <ion-title>
      {{ viewDate | calendarDate:(view + 'ViewTitle') }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-row>
        <ion-col col-12 col-md-3>
          <ion-row>
            <ion-col col-3 no-padding>
              <button ion-button full clear icon-only mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                <ion-icon name="ios-arrow-back"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-6 no-padding>
              <button ion-button full clear mwlCalendarToday [(viewDate)]="viewDate">Today</button>
    
            </ion-col>
            <ion-col col-3 no-padding>
              <button ion-button full clear icon-only mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                <ion-icon name="ios-arrow-forward"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

  <!-- <div *ngIf="dayClick">
      <iq-calendar-week-hours-view
      [viewDate]="viewDate"
      [events]="events"
      [hourSegments]="2"
      [dayStartHour]="8"
      [dayEndHour]="17"
      (eventClicked)="handleEvent($event.event)"
      (hourSegmentClicked)="hourSegmentClicked($event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      [weekStartsOn]="1"
      [refresh]="refresh"
      [locale]="local">
    </iq-calendar-week-hours-view>
  </div> -->

  <div *ngIf="!dayClick">
  <mwl-calendar-month-view

    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
</div>



<div *ngIf="dayClick">
  <mwl-calendar-day-view
  [viewDate]="viewDate"
  [events]="events"
  [refresh]="refresh"
  (eventClicked)="handleEvent('Clicked', $event.event)"
  (timeClicked)= "time()"
  (eventTimesChanged)="eventTimesChanged($event)"
>
</mwl-calendar-day-view>

</div>
</ion-content>
